<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ledger.sys.dao.DictDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ledger.sys.entity.DictDetail">
        <id column="dict_detail_id" property="dictDetailId" />
        <result column="label" property="label" />
        <result column="value" property="value" />
        <result column="sort" property="sort" />
        <result column="dict_id" property="dictId" />
        <result column="create_name" property="createName" />
        <result column="update_name" property="updateName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

</mapper>
